<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flights</title>
</head>
<body>
    <h1>Flights</h1>
    <div><a href="/flights/new">Add Flight</a></div><br>
    <table style="width: 100%;">
        <thead>
            <tr>
                <th>Airline</th>
                <th>Airport</th>
                <th>FlightNo</th>
                <th>Departure</th>
            </tr>
        </thead>
        
        <tbody>
            <% flights.forEach(function(f) { %>
            <tr <%- f.departs <= new Date() %>>
            
                <td><%= f.airline %></td>
                <td><%= f.airport %></td>
                <td><%= f.flightNo %></td>
                <td><%= f.departs %></td>
                <td><a href="/flights/<%= f._id %>">Details</a></td>
                <td>
                    <form action="/flights/<%=f._id%>?_method=DELETE" method="POST">
                        <button class="red-button" type="submit">X</button>
                    </form>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
        
</body>
</html>